---
import Base from "../layouts/Base.astro";
import SiteHeader from "../components/sections/SiteHeader.astro";
import Hero from "../components/sections/Hero.astro";
import FounderNote from "../components/sections/FounderNote.astro";
import Compare from "../components/sections/Compare.astro";
import Offers from "../components/sections/Offers.astro";
import FAQ from "../components/sections/FAQ.astro";
import SiteFooter from "../components/sections/SiteFooter.astro";
import ContactDrawer from "../components/sections/ContactDrawer.astro";
---
<Base>
  <SiteHeader />
  <main>
    <Hero />
    <FounderNote />
    <Compare />
    <Offers />
    <FAQ />
  </main>
  <SiteFooter />
  <ContactDrawer />
</Base>
